In [1]:
import pandas as pd
import numpy as np
import math as mt
import os.path
import copy
from sklearn.model_selection import train_test_split
import tensorflow as tf
import matplotlib.pyplot as plt
%matplotlib inline

<h1><b><font color=blue>Data Extraction Diagram: </font></b></h1>

---

<center><img src="https://github.com/omidkj/IMAGES/blob/master/Screen%20Shot%202018-12-11%20at%205.48.35%20PM.png?raw=true" alt="Feature Eng" width="900" height="1200"/></center>

<h3><b><font color=blue> Query MIMIC-III dataset: join diagnoses_icd and noteevents using ICD codes as a filter and Discharge summary notes. then save the results as  </font></b></h3>

---

In [2]:
data = pd.read_csv("diagnoses_icd_final.csv", header = 0, encoding = "utf_16", sep = "\t")

In [3]:
data.head()

,Number of Records,Category,Cgid,Chartdate,Charttime,Description,Hadm Id (Noteevents),Hadm Id,Icd9 Code,Iserror,Row Id (Noteevents),Row Id,Seq Num,Storetime,Subject Id (Noteevents),Subject Id,Text
0,1,Discharge summary,NaN,6/14/2118 12:00:00 AM,NaN,Report,107527,107527,486,NaN,175,153655,4,NaN,13702,13702,Admission Date: [**2118-6-2**] Discharg...
1,1,Discharge summary,NaN,6/14/2118 12:00:00 AM,NaN,Report,107527,107527,49121,NaN,175,153653,2,NaN,13702,13702,Admission Date: [**2118-6-2**] Discharg...
2,1,Discharge summary,NaN,5/25/2119 12:00:00 AM,NaN,Report,167118,167118,496,NaN,176,153661,3,NaN,13702,13702,Admission Date: [**2119-5-4**] D...
3,1,Discharge summary,NaN,8/18/2124 12:00:00 AM,NaN,Report,196489,196489,4160,NaN,177,153670,6,NaN,13702,13702,Admission Date: [**2124-7-21**] ...
4,1,Discharge summary,NaN,8/18/2124 12:00:00 AM,NaN,Report,196489,196489,49121,NaN,177,153668,4,NaN,13702,13702,Admission Date: [**2124-7-21**] ...

In [4]:
data.shape

(48153, 17)

In [5]:
data[data['Icd9 Code'] == 4172]['Icd9 Code'].value_counts()

Series([], Name: Icd9 Code, dtype: int64)

In [1]:
#data['Icd9 Code'].value_counts()

In [7]:
data.dtypes

Number of Records            int64
Category                    object
Cgid                       float64
Chartdate                   object
Charttime                  float64
Description                 object
Hadm Id (Noteevents)         int64
Hadm Id                      int64
Icd9 Code                    int64
Iserror                    float64
Row Id (Noteevents)          int64
Row Id                       int64
Seq Num                      int64
Storetime                  float64
Subject Id (Noteevents)      int64
Subject Id                   int64
Text                        object
dtype: object

<h3><b><font color=blue> Keeping the last Discharge note for each patient  </font></b></h3>

---

In [8]:
data.sort_values(by=['Hadm Id','Row Id (Noteevents)'])

,Number of Records,Category,Cgid,Chartdate,Charttime,Description,Hadm Id (Noteevents),Hadm Id,Icd9 Code,Iserror,Row Id (Noteevents),Row Id,Seq Num,Storetime,Subject Id (Noteevents),Subject Id,Text
8893,1,Discharge summary,NaN,4/17/2108 12:00:00 AM,NaN,Report,100006,100006,486,NaN,8772,110909,3,NaN,9895,9895,Admission Date: [**2108-4-6**] Discharg...
8894,1,Discharge summary,NaN,4/17/2108 12:00:00 AM,NaN,Report,100006,100006,49320,NaN,8772,110907,1,NaN,9895,9895,Admission Date: [**2108-4-6**] Discharg...
45126,1,Discharge summary,NaN,4/18/2108 12:00:00 AM,NaN,Addendum,100006,100006,486,NaN,55972,110909,3,NaN,9895,9895,"Name: [**Known lastname 470**], [**Known firs..."
45127,1,Discharge summary,NaN,4/18/2108 12:00:00 AM,NaN,Addendum,100006,100006,49320,NaN,55972,110907,1,NaN,9895,9895,"Name: [**Known lastname 470**], [**Known firs..."
34530,1,Discharge summary,NaN,4/7/2145 12:00:00 AM,NaN,Report,100007,100007,486,NaN,50238,256428,4,NaN,23018,23018,Admission Date: [**2145-3-31**] ...
22288,1,Discharge summary,NaN,9/12/2177 12:00:00 AM,NaN,Report,100011,100011,48242,NaN,39781,596527,4,NaN,87977,87977,Admission Date: [**2177-8-29**] ...
11329,1,Discharge summary,NaN,9/6/2176 12:00:00 AM,NaN,Report,100018,100018,496,NaN,16580,462394,25,NaN,58128,58128,Admission Date: [**2176-8-29**] ...
11330,1,Discharge summary,NaN,9/6/2176 12:00:00 AM,NaN,Report,100018,100018,4280,NaN,16580,462383,14,NaN,58128,58128,Admission Date: [**2176-8-29**] ...
11331,1,Discharge summary,NaN,9/6/2176 12:00:00 AM,NaN,Report,100018,100018,42833,NaN,16580,462373,4,NaN,58128,58128,Admission Date: [**2176-8-29**] ...
8111,1,Discharge summary,NaN,12/10/2142 12:00:00 AM,NaN,Report,100020,100020,4280,NaN,6876,111824,7,NaN,9973,9973,Admission Date: [**2142-11-30**] ...
8671,1,Discharge summary,NaN,12/19/2199 12:00:00 AM,NaN,Report,100030,100030,486,NaN,9785,144136,2,NaN,12803,12803,Admission Date: [**2199-12-3**] Dischar...
8672,1,Discharge summary,NaN,12/19/2199 12:00:00 AM,NaN,Report,100030,100030,41519,NaN,9785,144135,1,NaN,12803,12803,Admission Date: [**2199-12-3**] Dischar...
37445,1,Discharge summary,NaN,3/19/2115 12:00:00 AM,NaN,Report,100035,100035,4280,NaN,41331,417526,26,NaN,48539,48539,Admission Date: [**2115-2-22**] ...
37446,1,Discharge summary,NaN,3/19/2115 12:00:00 AM,NaN,Report,100035,100035,49390,NaN,41331,417516,16,NaN,48539,48539,Admission Date: [**2115-2-22**] ...
37447,1,Discharge summary,NaN,3/19/2115 12:00:00 AM,NaN,Report,100035,100035,42822,NaN,41331,417511,11,NaN,48539,48539,Admission Date: [**2115-2-22**] ...
37448,1,Discharge summary,NaN,3/19/2115 12:00:00 AM,NaN,Report,100035,100035,49391,NaN,41331,417501,1,NaN,48539,48539,Admission Date: [**2115-2-22**] ...
11511,1,Discharge summary,NaN,7/23/2187 12:00:00 AM,NaN,Report,100036,100036,4280,NaN,13877,344888,6,NaN,30078,30078,Admission Date: [**2187-7-13**] ...
11512,1,Discharge summary,NaN,7/23/2187 12:00:00 AM,NaN,Report,100036,100036,42833,NaN,13877,344884,2,NaN,30078,30078,Admission Date: [**2187-7-13**] ...
45740,1,Discharge summary,NaN,7/23/2187 12:00:00 AM,NaN,Addendum,100036,100036,4280,NaN,56489,344888,6,NaN,30078,30078,"Name: [**Known lastname **],[**Known firstnam..."
45741,1,Discharge summary,NaN,7/23/2187 12:00:00 AM,NaN,Addendum,100036,100036,42833,NaN,56489,344884,2,NaN,30078,30078,"Name: [**Known lastname **],[**Known firstnam..."
12666,1,Discharge summary,NaN,5/9/2183 12:00:00 AM,NaN,Report,100037,100037,486,NaN,13143,466926,4,NaN,58947,58947,Admission Date: [**2183-3-23**] ...
38864,1,Discharge summary,NaN,5/17/2174 12:00:00 AM,NaN,Report,100039,100039,4168,NaN,43828,438861,17,NaN,53014,53014,Admission Date: [**2174-4-18**] ...
38865,1,Discharge summary,NaN,5/17/2174 12:00:00 AM,NaN,Report,100039,100039,4280,NaN,43828,438860,16,NaN,53014,53014,Admission Date: [**2174-4-18**] ...
38866,1,Discharge summary,NaN,5/17/2174 12:00:00 AM,NaN,Report,100039,100039,49390,NaN,43828,438856,12,NaN,53014,53014,Admission Date: [**2174-4-18**] ...
38867,1,Discharge summary,NaN,5/17/2174 12:00:00 AM,NaN,Report,100039,100039,42843,NaN,43828,438846,2,NaN,53014,53014,Admission Date: [**2174-4-18**] ...
7532,1,Discharge summary,NaN,12/12/2140 12:00:00 AM,NaN,Report,100041,100041,496,NaN,6335,107532,4,NaN,9588,9588,Admission Date: [**2140-12-8**] Dischar...
7777,1,Discharge summary,NaN,12/12/2140 12:00:00 AM,NaN,Report,100041,100041,496,NaN,6336,107532,4,NaN,9588,9588,Admission Date: Discharge Da...
16330,1,Discharge summary,NaN,10/28/2183 12:00:00 AM,NaN,Report,100046,100046,496,NaN,16941,121842,2,NaN,10849,10849,Admission Date: [**2183-10-23**] Discha...
30385,1,Discharge summary,NaN,9/25/2179 12:00:00 AM,NaN,Report,100050,100050,4280,NaN,34188,339250,1,NaN,29633,29633,Admission Date: [**2179-9-19**] ...
24449,1,Discharge summary,NaN,12/27/2178 12:00:00 AM,NaN,Report,100061,100061,496,NaN,27081,131823,5,NaN,11728,11728,Admission Date: [**2178-12-25**] ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19661,1,Discharge summary,NaN,3/22/2134 12:00:00 AM,NaN,Report,199952,199952,4822,NaN,21905,252792,4,NaN,22711,22711,Unit No: [**Numeric Identifier 57430**]\nAdmi...
46086,1,Discharge summary,NaN,4/6/2134 12:00:00 AM,NaN,Addendum,199952,199952,4280,NaN,57269,252795,7,NaN,22711,22711,"Name: [**Known lastname 10675**],[**Known fir..."
46087,1,Discharge summary,NaN,4/6/2134 12:00:00 AM,NaN,Addendum,199952,199952,4822,NaN,57269,252792,4,NaN,22711,22711,"Name: [**Known lastname 10675**],[**Known fir..."
36441,1,Discharge summary,NaN,7/5/2197 12:00:00 AM,NaN,Report,199955,199955,4280,NaN,50678,32325,2,NaN,2889,2889,Admission Date: [**2197-7-4**] D...
31298,1,Discharge summary,NaN,3/18/2174 12:00:00 AM,NaN,Report,199956,199956,486,NaN,34247,363072,2,NaN,31545,31545,Admission Date: [**2174-3-14**] ...
21034,1,Discharge summary,NaN,4/10/2181 12:00:00 AM,NaN,Report,199957,199957,49392,NaN,40680,640813,4,NaN,97714,97714,Admission Date: [**2181-4-7**] D...
38593,1,Discharge summary,NaN,9/8/2178 12:00:00 AM,NaN,Report,199958,199958,49322,NaN,43445,298886,1,NaN,26705,26705,Admission Date: [**2178-9-2**] D...
19897,1,Discharge summary,NaN,9/8/2101 12:00:00 AM,NaN,Report,199963,199963,4280,NaN,21915,61251,2,NaN,5478,5478,Admission Date: [**2101-8-23**] ...
33777,1,Discharge summary,NaN,1/17/2149 12:00:00 AM,NaN,Report,199964,199964,4821,NaN,52087,204494,7,NaN,18356,18356,Admission Date: [**2149-1-14**] Discharge...
33778,1,Discharge summary,NaN,1/26/2149 12:00:00 AM,NaN,Report,199964,199964,4821,NaN,52088,204494,7,NaN,18356,18356,Admission Date: [**2149-1-14**] Dischar...
41903,1,Discharge summary,NaN,8/10/2184 12:00:00 AM,NaN,Report,199967,199967,4928,NaN,48532,388895,3,NaN,42131,42131,Admission Date: [**2184-7-31**] ...
41904,1,Discharge summary,NaN,8/10/2184 12:00:00 AM,NaN,Report,199967,199967,4168,NaN,48532,388894,2,NaN,42131,42131,Admission Date: [**2184-7-31**] ...
19423,1,Discharge summary,NaN,2/6/2201 12:00:00 AM,NaN,Report,199969,199969,496,NaN,19867,74283,6,NaN,6653,6653,Admission Date: [**2201-1-26**] Dischar...
20641,1,Discharge summary,NaN,9/11/2186 12:00:00 AM,NaN,Report,199972,199972,496,NaN,24510,568931,12,NaN,81561,81561,Admission Date: [**2186-8-29**] ...
20642,1,Discharge summary,NaN,9/11/2186 12:00:00 AM,NaN,Report,199972,199972,4280,NaN,24510,568930,11,NaN,81561,81561,Admission Date: [**2186-8-29**] ...
20643,1,Discharge summary,NaN,9/11/2186 12:00:00 AM,NaN,Report,199972,199972,486,NaN,24510,568925,6,NaN,81561,81561,Admission Date: [**2186-8-29**] ...
10831,1,Discharge summary,NaN,2/26/2182 12:00:00 AM,NaN,Report,199976,199976,4660,NaN,16371,293383,7,NaN,26198,26198,Admission Date: [**2182-2-4**] Discharg...
12701,1,Discharge summary,NaN,9/27/2110 12:00:00 AM,NaN,Report,199981,199981,42823,NaN,14010,324868,7,NaN,28616,28616,Admission Date: [**2110-9-24**] ...
12702,1,Discharge summary,NaN,9/27/2110 12:00:00 AM,NaN,Report,199981,199981,4280,NaN,14010,324867,6,NaN,28616,28616,Admission Date: [**2110-9-24**] ...
12703,1,Discharge summary,NaN,9/27/2110 12:00:00 AM,NaN,Report,199981,199981,49121,NaN,14010,324865,4,NaN,28616,28616,Admission Date: [**2110-9-24**] ...
3256,1,Discharge summary,NaN,6/11/2191 12:00:00 AM,NaN,Report,199984,199984,49390,NaN,3281,450872,11,NaN,55617,55617,Admission Date: [**2191-6-8**] D...
16494,1,Discharge summary,NaN,11/17/2161 12:00:00 AM,NaN,Report,199993,199993,42821,NaN,16616,232054,2,NaN,20785,20785,Admission Date: [**2161-10-23**] Discha...
6653,1,Discharge summary,NaN,7/17/2188 12:00:00 AM,NaN,Report,199994,199994,4169,NaN,10570,265429,6,NaN,23761,23761,Admission Date: [**2188-7-7**] Discharg...
6654,1,Discharge summary,NaN,7/17/2188 12:00:00 AM,NaN,Report,199994,199994,496,NaN,10570,265428,5,NaN,23761,23761,Admission Date: [**2188-7-7**] Discharg...
6655,1,Discharge summary,NaN,7/17/2188 12:00:00 AM,NaN,Report,199994,199994,4280,NaN,10570,265425,2,NaN,23761,23761,Admission Date: [**2188-7-7**] Discharg...
6656,1,Discharge summary,NaN,7/17/2188 12:00:00 AM,NaN,Report,199994,199994,486,NaN,10570,265424,1,NaN,23761,23761,Admission Date: [**2188-7-7**] Discharg...
15376,1,Discharge summary,NaN,12/28/2137 12:00:00 AM,NaN,Report,199995,199995,42971,NaN,21697,216927,3,NaN,19412,19412,Admission Date: [**2137-12-11**] Discha...
29819,1,Discharge summary,NaN,2/24/2119 12:00:00 AM,NaN,Report,199998,199998,4293,NaN,33528,305590,9,NaN,27200,27200,Admission Date: [**2119-2-18**] ...
2708,1,Discharge summary,NaN,4/10/2136 12:00:00 AM,NaN,Report,199999,199999,4293,NaN,2652,380669,13,NaN,40370,40370,Admission Date: [**2136-4-4**] D...
2709,1,Discharge summary,NaN,4/10/2136 12:00:00 AM,NaN,Report,199999,199999,48284,NaN,2652,380657,1,NaN,40370,40370,Admission Date: [**2136-4-4**] D...

In [9]:
data_2 = data.loc[data['Description'] != 'Addendum']

In [10]:
data_2 = (data_2.groupby(['Hadm Id']).nth(-1)).reset_index()

In [11]:
data_2.reset_index(drop=True)

,Hadm Id,Category,Cgid,Chartdate,Charttime,Description,Hadm Id (Noteevents),Icd9 Code,Iserror,Number of Records,Row Id,Row Id (Noteevents),Seq Num,Storetime,Subject Id,Subject Id (Noteevents),Text
0,100006,Discharge summary,NaN,4/17/2108 12:00:00 AM,NaN,Report,100006,49320,NaN,1,110907,8772,1,NaN,9895,9895,Admission Date: [**2108-4-6**] Discharg...
1,100007,Discharge summary,NaN,4/7/2145 12:00:00 AM,NaN,Report,100007,486,NaN,1,256428,50238,4,NaN,23018,23018,Admission Date: [**2145-3-31**] ...
2,100011,Discharge summary,NaN,9/12/2177 12:00:00 AM,NaN,Report,100011,48242,NaN,1,596527,39781,4,NaN,87977,87977,Admission Date: [**2177-8-29**] ...
3,100018,Discharge summary,NaN,9/6/2176 12:00:00 AM,NaN,Report,100018,42833,NaN,1,462373,16580,4,NaN,58128,58128,Admission Date: [**2176-8-29**] ...
4,100020,Discharge summary,NaN,12/10/2142 12:00:00 AM,NaN,Report,100020,4280,NaN,1,111824,6876,7,NaN,9973,9973,Admission Date: [**2142-11-30**] ...
5,100030,Discharge summary,NaN,12/19/2199 12:00:00 AM,NaN,Report,100030,41519,NaN,1,144135,9785,1,NaN,12803,12803,Admission Date: [**2199-12-3**] Dischar...
6,100035,Discharge summary,NaN,3/19/2115 12:00:00 AM,NaN,Report,100035,49391,NaN,1,417501,41331,1,NaN,48539,48539,Admission Date: [**2115-2-22**] ...
7,100036,Discharge summary,NaN,7/23/2187 12:00:00 AM,NaN,Report,100036,42833,NaN,1,344884,13877,2,NaN,30078,30078,Admission Date: [**2187-7-13**] ...
8,100037,Discharge summary,NaN,5/9/2183 12:00:00 AM,NaN,Report,100037,486,NaN,1,466926,13143,4,NaN,58947,58947,Admission Date: [**2183-3-23**] ...
9,100039,Discharge summary,NaN,5/17/2174 12:00:00 AM,NaN,Report,100039,42843,NaN,1,438846,43828,2,NaN,53014,53014,Admission Date: [**2174-4-18**] ...
10,100041,Discharge summary,NaN,12/12/2140 12:00:00 AM,NaN,Report,100041,496,NaN,1,107532,6336,4,NaN,9588,9588,Admission Date: Discharge Da...
11,100046,Discharge summary,NaN,10/28/2183 12:00:00 AM,NaN,Report,100046,496,NaN,1,121842,16941,2,NaN,10849,10849,Admission Date: [**2183-10-23**] Discha...
12,100050,Discharge summary,NaN,9/25/2179 12:00:00 AM,NaN,Report,100050,4280,NaN,1,339250,34188,1,NaN,29633,29633,Admission Date: [**2179-9-19**] ...
13,100061,Discharge summary,NaN,12/27/2178 12:00:00 AM,NaN,Report,100061,42833,NaN,1,131819,27081,1,NaN,11728,11728,Admission Date: [**2178-12-25**] ...
14,100068,Discharge summary,NaN,1/20/2192 12:00:00 AM,NaN,Report,100068,4280,NaN,1,110792,52838,11,NaN,9889,9889,Admission Date: [**2192-1-5**] D...
15,100071,Discharge summary,NaN,3/30/2160 12:00:00 AM,NaN,Report,100071,49392,NaN,1,220076,1590,1,NaN,19717,19717,Admission Date: [**2160-3-26**] ...
16,100078,Discharge summary,NaN,3/5/2126 12:00:00 AM,NaN,Report,100078,4280,NaN,1,126582,20323,5,NaN,11279,11279,Admission Date: [**2126-2-27**] Discharge...
17,100085,Discharge summary,NaN,9/8/2126 12:00:00 AM,NaN,Report,100085,4928,NaN,1,459361,1002,7,NaN,57445,57445,Admission Date: [**2126-8-30**] ...
18,100087,Discharge summary,NaN,11/6/2126 12:00:00 AM,NaN,Report,100087,486,NaN,1,389487,40317,3,NaN,42255,42255,Admission Date: [**2126-11-1**] ...
19,100091,Discharge summary,NaN,6/9/2162 12:00:00 AM,NaN,Report,100091,42831,NaN,1,608876,20662,2,NaN,90834,90834,Admission Date: [**2162-6-3**] D...
20,100095,Discharge summary,NaN,10/5/2108 12:00:00 AM,NaN,Report,100095,4280,NaN,1,4654,25125,3,NaN,391,391,Admission Date: [**2108-9-26**] ...
21,100099,Discharge summary,NaN,5/19/2118 12:00:00 AM,NaN,Report,100099,42823,NaN,1,571771,33590,4,NaN,82091,82091,Admission Date: [**2118-5-7**] D...
22,100102,Discharge summary,NaN,5/14/2146 12:00:00 AM,NaN,Report,100102,42822,NaN,1,159413,7989,2,NaN,14245,14245,Admission Date: [**2146-5-11**] ...
23,100113,Discharge summary,NaN,1/11/2153 12:00:00 AM,NaN,Report,100113,42823,NaN,1,463070,49123,2,NaN,58240,58240,Admission Date: [**2153-1-5**] D...
24,100117,Discharge summary,NaN,5/9/2166 12:00:00 AM,NaN,Report,100117,481,NaN,1,160137,54579,2,NaN,14297,14297,Admission Date: [**2166-4-30**] ...
25,100118,Discharge summary,NaN,9/11/2198 12:00:00 AM,NaN,Report,100118,486,NaN,1,442155,50772,3,NaN,53749,53749,Admission Date: [**2198-9-7**] D...
26,100120,Discharge summary,NaN,8/5/2165 12:00:00 AM,NaN,Report,100120,4280,NaN,1,256368,43569,2,NaN,23014,23014,Admission Date: [**2165-8-2**] D...
27,100124,Discharge summary,NaN,7/26/2103 12:00:00 AM,NaN,Report,100124,486,NaN,1,219475,10910,2,NaN,19644,19644,Admission Date: [**2103-7-24**] Discharge...
28,100131,Discharge summary,NaN,3/16/2144 12:00:00 AM,NaN,Report,100131,42832,NaN,1,113768,26443,2,NaN,10150,10150,Admission Date: [**2144-3-7**] D...
29,100132,Discharge summary,NaN,3/24/2179 12:00:00 AM,NaN,Report,100132,486,NaN,1,222902,44131,3,NaN,19984,19984,Admission Date: [**2179-3-5**] D...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23877,199898,Discharge summary,NaN,8/31/2134 12:00:00 AM,NaN,Report,199898,41511,NaN,1,334040,34288,2,NaN,29293,29293,Admission Date: [**2134-8-16**] ...
23878,199903,Discharge summary,NaN,8/27/2159 12:00:00 AM,NaN,Report,199903,4280,NaN,1,223371,25360,2,NaN,20024,20024,Admission Date: [**2159-8-10**] ...
23879,199907,Discharge summary,NaN,1/8/2177 12:00:00 AM,NaN,Report,199907,49390,NaN,1,202956,17158,4,NaN,18239,18239,Admission Date: [**2176-12-30**] Discha...
23880,199909,Discharge summary,NaN,3/1/2174 12:00:00 AM,NaN,Report,199909,41519,NaN,1,527274,38711,2,NaN,72309,72309,Admission Date: [**2174-2-20**] ...
23881,199912,Discharge summary,NaN,9/20/2198 12:00:00 AM,NaN,Report,199912,4280,NaN,1,333633,2598,5,NaN,29256,29256,Admission Date: [**2198-9-19**] ...
23882,199925,Discharge summary,NaN,2/21/2140 12:00:00 AM,NaN,Report,199925,42831,NaN,1,564974,52148,2,NaN,80825,80825,Admission Date: [**2140-2-10**] ...
23883,199931,Discharge summary,NaN,8/7/2199 12:00:00 AM,NaN,Report,199931,4280,NaN,1,64043,16399,3,NaN,5726,5726,Admission Date: [**2199-7-10**] Dischar...
23884,199933,Discharge summary,NaN,12/16/2166 12:00:00 AM,NaN,Report,199933,486,NaN,1,448586,41580,3,NaN,55090,55090,Admission Date: [**2166-12-10**] ...
23885,199940,Discharge summary,NaN,1/19/2108 12:00:00 AM,NaN,Report,199940,486,NaN,1,621617,15559,7,NaN,93632,93632,Admission Date: [**2108-1-4**] D...
23886,199941,Discharge summary,NaN,3/28/2183 12:00:00 AM,NaN,Report,199941,4280,NaN,1,247666,47718,4,NaN,22219,22219,Admission Date: [**2183-3-24**] ...
23887,199943,Discharge summary,NaN,2/11/2194 12:00:00 AM,NaN,Report,199943,4280,NaN,1,36939,29530,4,NaN,3313,3313,Admission Date: [**2194-2-4**] D...
23888,199951,Discharge summary,NaN,11/9/2111 12:00:00 AM,NaN,Report,199951,486,NaN,1,27557,43594,1,NaN,2452,2452,Admission Date: [**2111-10-31**] Discharg...
23889,199952,Discharge summary,NaN,3/22/2134 12:00:00 AM,NaN,Report,199952,4822,NaN,1,252792,21905,4,NaN,22711,22711,Unit No: [**Numeric Identifier 57430**]\nAdmi...
23890,199955,Discharge summary,NaN,7/5/2197 12:00:00 AM,NaN,Report,199955,4280,NaN,1,32325,50678,2,NaN,2889,2889,Admission Date: [**2197-7-4**] D...
23891,199956,Discharge summary,NaN,3/18/2174 12:00:00 AM,NaN,Report,199956,486,NaN,1,363072,34247,2,NaN,31545,31545,Admission Date: [**2174-3-14**] ...
23892,199957,Discharge summary,NaN,4/10/2181 12:00:00 AM,NaN,Report,199957,49392,NaN,1,640813,40680,4,NaN,97714,97714,Admission Date: [**2181-4-7**] D...
23893,199958,Discharge summary,NaN,9/8/2178 12:00:00 AM,NaN,Report,199958,49322,NaN,1,298886,43445,1,NaN,26705,26705,Admission Date: [**2178-9-2**] D...
23894,199963,Discharge summary,NaN,9/8/2101 12:00:00 AM,NaN,Report,199963,4280,NaN,1,61251,21915,2,NaN,5478,5478,Admission Date: [**2101-8-23**] ...
23895,199964,Discharge summary,NaN,1/26/2149 12:00:00 AM,NaN,Report,199964,4821,NaN,1,204494,52088,7,NaN,18356,18356,Admission Date: [**2149-1-14**] Dischar...
23896,199967,Discharge summary,NaN,8/10/2184 12:00:00 AM,NaN,Report,199967,4168,NaN,1,388894,48532,2,NaN,42131,42131,Admission Date: [**2184-7-31**] ...
23897,199969,Discharge summary,NaN,2/6/2201 12:00:00 AM,NaN,Report,199969,496,NaN,1,74283,19867,6,NaN,6653,6653,Admission Date: [**2201-1-26**] Dischar...
23898,199972,Discharge summary,NaN,9/11/2186 12:00:00 AM,NaN,Report,199972,486,NaN,1,568925,24510,6,NaN,81561,81561,Admission Date: [**2186-8-29**] ...
23899,199976,Discharge summary,NaN,2/26/2182 12:00:00 AM,NaN,Report,199976,4660,NaN,1,293383,16371,7,NaN,26198,26198,Admission Date: [**2182-2-4**] Discharg...
23900,199981,Discharge summary,NaN,9/27/2110 12:00:00 AM,NaN,Report,199981,49121,NaN,1,324865,14010,4,NaN,28616,28616,Admission Date: [**2110-9-24**] ...
23901,199984,Discharge summary,NaN,6/11/2191 12:00:00 AM,NaN,Report,199984,49390,NaN,1,450872,3281,11,NaN,55617,55617,Admission Date: [**2191-6-8**] D...
23902,199993,Discharge summary,NaN,11/17/2161 12:00:00 AM,NaN,Report,199993,42821,NaN,1,232054,16616,2,NaN,20785,20785,Admission Date: [**2161-10-23**] Discha...
23903,199994,Discharge summary,NaN,7/17/2188 12:00:00 AM,NaN,Report,199994,486,NaN,1,265424,10570,1,NaN,23761,23761,Admission Date: [**2188-7-7**] Discharg...
23904,199995,Discharge summary,NaN,12/28/2137 12:00:00 AM,NaN,Report,199995,42971,NaN,1,216927,21697,3,NaN,19412,19412,Admission Date: [**2137-12-11**] Discha...
23905,199998,Discharge summary,NaN,2/24/2119 12:00:00 AM,NaN,Report,199998,4293,NaN,1,305590,33528,9,NaN,27200,27200,Admission Date: [**2119-2-18**] ...
23906,199999,Discharge summary,NaN,4/10/2136 12:00:00 AM,NaN,Report,199999,48284,NaN,1,380657,2652,1,NaN,40370,40370,Admission Date: [**2136-4-4**] D...

In [12]:
data_2.shape

(23907, 17)

In [13]:
data_2.head()

,Hadm Id,Category,Cgid,Chartdate,Charttime,Description,Hadm Id (Noteevents),Icd9 Code,Iserror,Number of Records,Row Id,Row Id (Noteevents),Seq Num,Storetime,Subject Id,Subject Id (Noteevents),Text
0,100006,Discharge summary,NaN,4/17/2108 12:00:00 AM,NaN,Report,100006,49320,NaN,1,110907,8772,1,NaN,9895,9895,Admission Date: [**2108-4-6**] Discharg...
1,100007,Discharge summary,NaN,4/7/2145 12:00:00 AM,NaN,Report,100007,486,NaN,1,256428,50238,4,NaN,23018,23018,Admission Date: [**2145-3-31**] ...
2,100011,Discharge summary,NaN,9/12/2177 12:00:00 AM,NaN,Report,100011,48242,NaN,1,596527,39781,4,NaN,87977,87977,Admission Date: [**2177-8-29**] ...
3,100018,Discharge summary,NaN,9/6/2176 12:00:00 AM,NaN,Report,100018,42833,NaN,1,462373,16580,4,NaN,58128,58128,Admission Date: [**2176-8-29**] ...
4,100020,Discharge summary,NaN,12/10/2142 12:00:00 AM,NaN,Report,100020,4280,NaN,1,111824,6876,7,NaN,9973,9973,Admission Date: [**2142-11-30**] ...

In [2]:
#data_2['Icd9 Code'].value_counts()

In [3]:
 #data_2[data_2["Hadm Id"] == 113071]

<h3><b><font color=blue> Choose a sample of the dataset to be processed in NLP model with the ratio of 0.2: </font></b></h3>

---

In [16]:
#chosen_idx = np.random.choice(23907, replace=False, size=4500, random=110)
df_trimmed = data_2.sample(frac=0.2, weights='Icd9 Code',random_state=110)

In [4]:
#df_trimmed['Icd9 Code'].value_counts()

In [18]:
df_trimmed.head()

,Hadm Id,Category,Cgid,Chartdate,Charttime,Description,Hadm Id (Noteevents),Icd9 Code,Iserror,Number of Records,Row Id,Row Id (Noteevents),Seq Num,Storetime,Subject Id,Subject Id (Noteevents),Text
2842,111544,Discharge summary,NaN,4/3/2179 12:00:00 AM,NaN,Report,111544,49390,NaN,1,337578,29750,16,NaN,29514,29514,Admission Date: [**2179-3-22**] ...
15822,166737,Discharge summary,NaN,3/15/2161 12:00:00 AM,NaN,Report,166737,41519,NaN,1,466894,42433,2,NaN,58939,58939,Admission Date: [**2161-3-10**] ...
8980,137804,Discharge summary,NaN,6/1/2179 12:00:00 AM,NaN,Report,137804,49390,NaN,1,545789,49730,15,NaN,76479,76479,Admission Date: [**2179-5-23**] ...
14743,162201,Discharge summary,NaN,10/3/2197 12:00:00 AM,NaN,Report,162201,42823,NaN,1,369318,50123,2,NaN,32074,32074,Admission Date: [**2197-9-27**] ...
16320,168769,Discharge summary,NaN,2/16/2198 12:00:00 AM,NaN,Report,168769,42820,NaN,1,129266,48454,6,NaN,11486,11486,Admission Date: [**2198-1-19**] ...

In [ ]:
df_trimmed = df_trimmed.reset_index(drop=True)

In [ ]:
df_trimmed.head()

,Hadm Id,Category,Cgid,Chartdate,Charttime,Description,Hadm Id (Noteevents),Icd9 Code,Iserror,Number of Records,Row Id,Row Id (Noteevents),Seq Num,Storetime,Subject Id,Subject Id (Noteevents),Text
0,111544,Discharge summary,NaN,4/3/2179 12:00:00 AM,NaN,Report,111544,49390,NaN,1,337578,29750,16,NaN,29514,29514,Admission Date: [**2179-3-22**] ...
1,166737,Discharge summary,NaN,3/15/2161 12:00:00 AM,NaN,Report,166737,41519,NaN,1,466894,42433,2,NaN,58939,58939,Admission Date: [**2161-3-10**] ...
2,137804,Discharge summary,NaN,6/1/2179 12:00:00 AM,NaN,Report,137804,49390,NaN,1,545789,49730,15,NaN,76479,76479,Admission Date: [**2179-5-23**] ...
3,162201,Discharge summary,NaN,10/3/2197 12:00:00 AM,NaN,Report,162201,42823,NaN,1,369318,50123,2,NaN,32074,32074,Admission Date: [**2197-9-27**] ...
4,168769,Discharge summary,NaN,2/16/2198 12:00:00 AM,NaN,Report,168769,42820,NaN,1,129266,48454,6,NaN,11486,11486,Admission Date: [**2198-1-19**] ...

In [ ]:
#test_df = df_trimmed.iloc[0:10,:]

<h3><b><font color=blue> Cleaning texts from newlines and tabs to make it ready to be processed in NLP model </font></b></h3>

---

In [ ]:
#test_df.Text = test_df.Text.fillna(' ')
df_trimmed.Text = df_trimmed.Text.str.replace('\n',' ')
df_trimmed.Text = df_trimmed.Text.str.replace('\t',' ')

<h3><b><font color=blue> Saving the final sample dataset as a CSV file to be processed in the NLP pipeline:  </font></b></h3>

---

In [ ]:
df_trimmed.to_csv('noLine_data.csv', sep="\t")

file_name = ""
save_path = "./input"
for i in range(len(test_df)):
    if i != 0:
        file_name = (5-int(mt.log10(i)))*"0" + str(i)
    else:
        file_name = "000000"
    completeName = os.path.join(save_path, file_name+".txt")         
    f = open(completeName, "w+")
    f.write(test_df['Text'][i])
    f.close()