# Data preparation after NLP pipeline

<h3><b><font color=blue> Read the outpt of NLP pipeline and make adjustments for the ML models:  </font></b></h3>

---

In [1]:
import pandas as pd
import numpy as np
import math as mt
import os.path
import copy
from sklearn.model_selection import train_test_split
import tensorflow as tf
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
save_path = "./src/main/scala/output"
completeName = os.path.join(save_path, 'classification_csv.csv') 
response = pd.read_csv(completeName, header = 0)

In [3]:
response.head()

   class
0  0,0,0
1  1,0,0
2  0,0,0
3  1,1,0
4  1,1,0

<h3><b><font color=blue> Extract three features "cui_exist, negation_exist, and uncertainty_exist" out of 'class' column that was saved during NLP pipeline: </font></b></h3>

---

In [ ]:
response['cui_exist'] = 0
response['negation_exist'] = 0
response['uncertainty_exist'] = 0

In [ ]:
for index in range(len(response)):
    s = ''
    s = response['class'][index].split(',')
    response['cui_exist'][index] = int(s[0])
    response['negation_exist'][index] = int(s[1])
    response['uncertainty_exist'][index] = int(s[2])

/Users/user/anaconda3/envs/tensorflow/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/user/anaconda3/envs/tensorflow/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/user/anaconda3/envs/tensorflow/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
response.head()

   class  cui_exist  negation_exist  uncertainty_exist
0  0,0,0          0               0                  0
1  1,0,0          1               0                  0
2  0,0,0          0               0                  0
3  1,1,0          1               1                  0
4  1,1,0          1               1                  0

In [ ]:
response = response.drop(['class'], axis = 1)

In [ ]:
response.head()

   cui_exist  negation_exist  uncertainty_exist
0          0               0                  0
1          1               0                  0
2          0               0                  0
3          1               1                  0
4          1               1                  0

In [ ]:
#file_index = pd.read_csv("filename.csv", header = 0)

In [ ]:
#file_index['file_name'][0]

In [ ]:
#response['file_index'] = ''

In [ ]:
#response['file_index'] = file_index['file_name']

In [ ]:
#response

In [ ]:
#response['file_index'][4]

In [ ]:
#final_a = response.sort_values(by=['file_index'])

In [ ]:
#data_trimmed_1 = pd.read_csv("noLine_data.csv", header = 0, sep='\t')

In [ ]:
#data_trimmed_1.head()

In [ ]:
#df_trimmed.head()

In [ ]:
final_a = copy.deepcopy(response)

In [ ]:
final_a['hadm_id']= 0
final_a['icd_code'] = ""
final_a['seq_number'] = 0

In [ ]:
final_a['hadm_id']= df_trimmed['Hadm Id']
final_a['icd_code'] = df_trimmed['Icd9 Code']
final_a['seq_number'] = df_trimmed['Seq Num']

In [ ]:
final_a.head()

   cui_exist  negation_exist  uncertainty_exist  hadm_id  icd_code  seq_number
0          0               0                  0   111544     49390          16
1          1               0                  0   166737     41519           2
2          0               0                  0   137804     49390          15
3          1               1                  0   162201     42823           2
4          1               1                  0   168769     42820           6

In [ ]:
#final_a = final_a.drop(['file_index'], axis = 1)

In [ ]:
#final_a.reset_index(drop=True)

In [ ]:
final_a.dtypes

cui_exist            int64
negation_exist       int64
uncertainty_exist    int64
hadm_id              int64
icd_code             int64
seq_number           int64
dtype: object

<h3><b><font color=blue> Labeling the data based on ICD codes matched with Pulmonary Embolism </font></b></h3>

---

In [ ]:
final_a['target']=0

In [ ]:
final_a.at[(final_a['icd_code'] == 4150) | (final_a['icd_code'] == 41511) | (final_a['icd_code'] == 41512) 
           | (final_a['icd_code'] == 41513) | (final_a['icd_code'] == 41519), 'target'] = 1

In [6]:
#final_a[(final_a['icd_code'] == 4150) | (final_a['icd_code'] == 41511) | (final_a['icd_code'] == 41512)
       # | (final_a['icd_code'] == 41513) | (final_a['icd_code'] == 41519)]['target']

In [ ]:
final_a.head()

,cui_exist,negation_exist,uncertainty_exist,hadm_id,icd_code,seq_number,target
0,0,0,0,111544,49390,16,0
1,1,0,0,166737,41519,2,1
2,0,0,0,137804,49390,15,0
3,1,1,0,162201,42823,2,0
4,1,1,0,168769,42820,6,0

<h3><b><font color=blue> Saivng the final dataset for the ML models in a seperate file named "Final_model_mix" </font></b></h3>

---

In [ ]:
final_a.to_csv('final_data_with_icd_codes.csv')

In [ ]:
final_data = final_a.drop(['icd_code'], axis = 1)

In [ ]:
final_data.head()

   cui_exist  negation_exist  uncertainty_exist  hadm_id  seq_number  target
0          0               0                  0   111544          16       0
1          1               0                  0   166737           2       1
2          0               0                  0   137804          15       0
3          1               1                  0   162201           2       0
4          1               1                  0   168769           6       0

In [ ]:
final_data.to_csv('final_data.csv')